@import 'uview-ui/theme.scss';
// 函数
@mixin line($left:30upx) {
			&:after {
				position: absolute;
				z-index: 3;
				right: 0;
				bottom: 0;
				left: $left;
				height: 1px;
				content: '';
				-webkit-transform: scaleY(.5);
				transform: scaleY(.5);
				background-color: #c8c7cc;
			}	
}

//背景颜色 
$gray-bj-color:#f5f5f5;

//手按上颜色
$hover-color:#cae9fb;

//背景颜色
$bj-current-blue:#73afe7;
$bj-gray: #f8f8f8;
$bgColor:#f1f2f7;

// 颜色
$blue-color:#1c7de6;
$white-color:#ffffff;
$red-color:#e62c2c;
$green-color:#22b14c;
$yellow-color:#e2b607;
$orange-color:#f39e43;
// 关机
$shutDown-color:#696969;

// 字体颜色
$font-text-color:#333;
$font-gray:#666;
$font-light-gray:#999;
$font-bule:#3333cc;
$font-dark-green:#15b59e;
$font-orange:#ee8216;
$disabled-color:#bbb;

$line-color:#eee;
$line-dark-color:#ddd;

// 字体大小
$font-20:20rpx;
$font-22:22rpx;
$font-24:24rpx;
$font-26:26rpx;
$font-28:28rpx;
$font-30:30rpx;
$font-32:32rpx;
$font-35:35rpx;
$font-36:36upx;




