@font-face {
  font-family: "custom-icon"; /* Project id 2033516 */
  src: url('//at.alicdn.com/t/font_2033516_g3wo1ju69fg.woff2?t=1625733474586') format('woff2'),
       url('//at.alicdn.com/t/font_2033516_g3wo1ju69fg.woff?t=1625733474586') format('woff'),
       url('//at.alicdn.com/t/font_2033516_g3wo1ju69fg.ttf?t=1625733474586') format('truetype');
}

.custom-icon {
  font-family: "custom-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-icon-pass:before {
  content: "\e691";
}

.custom-icon-line-add:before {
  content: "\e637";
}

.custom-icon-info:before {
  content: "\e642";
}

.custom-icon-review:before {
  content: "\e653";
}

.custom-icon-scan:before {
  content: "\e62c";
}

.custom-icon-fault:before {
  content: "\e76e";
}

.custom-icon-analyse:before {
  content: "\e60e";
}

.custom-icon-quality:before {
  content: "\e638";
}

.custom-icon-produce:before {
  content: "\e611";
}

.custom-icon-devices:before {
  content: "\e6b8";
}

.custom-icon-meter:before {
  content: "\e602";
}

.custom-icon-right-arrow:before {
  content: "\e699";
}

.custom-icon-left-arrow:before {
  content: "\e830";
}

.custom-icon-tianbao:before {
  content: "\e60d";
}

.custom-icon-device:before {
  content: "\e626";
}

.custom-icon-search:before {
  content: "\e636";
}

.custom-icon-add:before {
  content: "\e7d3";
}

.custom-icon-close:before {
  content: "\e60a";
}

.custom-icon-circleDot:before {
  content: "\e82f";
}
