html,body{
	height: 100%;
	width: 100%;
	font-family: "Microsoft YaHei";
	background-color:$bgColor;
}
.m-l35{margin-left: 35rpx;}
.u-page{overflow: hidden;}
.hidden{display: none;}
.flex{display: flex;}
.align-items-center{align-items: center;}
.justify-content-center{justify-content: center;}
// .left-btn{flex:1;margin-right: 10rpx;}
// .right-btn{flex: 1;margin-left: 10rpx;}
// 省列号
.ellipsis{
	white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
// nav
.navbar-left {
  color: $font-text-color;
  line-height: initial;
  .title {
    font-size:32rpx;
    font-weight:bold;
    // line-height: 50rpx;
  }
}
.navbar-right {
  .navbar-icon {
    display: flex;
    .icon-item {
      margin-right: 25rpx;
    }
  }
  .navbar-info{
    display: flex;
    .info-item{   
      margin-right: 25rpx;
      color:$font-gray;
    }
  }
}
.nav-subTitle{
  padding: 15rpx 35rpx;
  color: $font-gray;
}
.navbar-title{
	font-size:34rpx;
}

.sub-info{
  display: flex;
  flex-direction: row;
  padding:15rpx 35rpx;
  .nav-subTitle{flex: 1;}
  .nav-subTitle{padding: 0;}
}

.tips {
  display: flex;
  color: $font-gray;
  .tips-item {
    display: flex;
    align-items: center;
    margin-left: 40upx;
    font-size: 22rpx;
  }
  .tips-icon {
    margin-right: 10upx;
    width: 20upx;
    height: 8upx;
    background: $blue-color;
  }
  .green-icon {
    background: $green-color;
  }
}
// list
.task-list{
  padding-bottom: 15rpx;
  .task-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:15rpx 15rpx;
    padding: 20rpx;
    font-size: $font-28;
    border-radius: 10rpx;
    background-color: $white-color;
    &:active { background-color: $hover-color;}
    .task-left {flex: 1;line-height: 1.6;}
    .task-right { padding-left: 50rpx;}
    .row {
      display: flex;
      .col-name {color: $font-light-gray; text-align: right;}
      .col-text {
        flex: 1;
        overflow: hidden;
        word-break: break-word;
     }
    }
  }

}
// search
.search-box {
  margin:15rpx 15rpx;
  padding: 30rpx;
  border-radius: 10rpx;
  background-color: $white-color;

  .btn {
    margin-top: 20rpx;
    /deep/.u-btn {width: 100%;padding: 0;}
  }
}
//chart 
.chart-box{
    overflow: hidden;
    margin:15rpx 15rpx;
    border-radius: 10rpx;
    background-color: $white-color;
    .chart-title{padding: 30rpx 30rpx 0 30rpx;}
}
// basic
.basic-box{
  overflow: hidden;
  margin:15rpx 15rpx;
  padding: 30rpx;
  border-radius: 10rpx;
  background-color: $white-color;
}
// 展开收起列表
.develop-list{
  line-height: 1.75;
	.develop-item{@extend .basic-box;}
  .info{
    .name{
      text-align: left;
      margin-right: 20px;
      color: $font-gray;
     }
  }
  .hd{
    display: flex;
    .left{flex: 1;}
  }
  .bd{
    .info{font-size: $font-26;}
  }
}
// 单据列表
.bill {
  .title {
    margin: 20rpx 20rpx 10rpx 20rpx;
  }
  .task-list {
    margin-top: 20rpx;
    .task-icon {
      margin-right: 20rpx;
    }
    .task-item {
      padding: 30rpx;
      &:active {
        background-color: #fff;
      }
    }
    .col-name {
      width: 140rpx;
      margin-right: 20rpx;
    }
    .task-right {
      padding-left: 0;
    }
  }
}

// form禁止
.disabled{
  .uni-input-input{color:#ee413b !important;background-color: #f5f7fa!important;}
  .uni-textarea-textarea{color:#ee413b !important;background-color: #f5f7fa!important;}
  .u-radio__label{color:#ee413b !important;}
  .u-checkbox__label{color:#ee413b !important;}
  .u-input__right-icon{background-color: #f5f7fa!important;}
}

.modal-content{
  padding: 30rpx;
  text-align: center;
}
.public-title{
  display: flex;
  .title-left{
    flex: 1;
  }
  .title-right{
    font-size:$font-24;
    color:$font-light-gray;
  }
}

